{% extends "base.html" %}
{% block title %}Products{% endblock %}

{% block content %}
<div style="display: inline-flex; max-width: fit-content;">
{% for product in products %}
<div style="display: flex; flex-direction: column; justify-content: space-between;">
        <div class="container-content">
                <img class="picture" src="/media/{{product.image}}" alt="product">
                <p class="price">{{product.price}} р. :: {{product.stock}} ед.</p>
                <a class="name" href="/{{product.id}}">{{product.name}}</a>
        </div>
</div>
{% endfor %}
</div>
{% endblock %}